* {
  font-family: Roboto, sans-serif;
  /* border: 1px solid black; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* sidebar close button */
.closebtn{
  visibility: hidden;
}
/* header style */
.navbar{
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.left-navbar{
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 8;
}
.right-navbar{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  right: 0;
  top:18;
}
.profile, .profile-name{
  display: flex;
  align-items: center;
}
.menu-icon {
  width: 30px;
  height: 30px;
  margin: 25px 25px 34px 29px;
}
.company-logo {
  width: 142px;
  height: 30px;
  /* margin: 25px 0 0 25px; */
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
}
.search-icon {
  width: 16px;
  height: 16px;
}
.search-text {
  width: 49px;
  height: 21px;
  margin-left: 20px;
}
.profile{
  margin-right: 50px;
  align-items: center;
}
.profile-dropdown{
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
}
/* header ends */
/* sidebar style */
.list {
  position: absolute;
  top: 80px;
  background-color: #ffff;
  text-align: left;
}
.sidebar-heading {
  font-size: 16px;
  line-height: 21px;
}
.active-tab {
  background-color: #fff3f4;
  color: #c8242f;
}
.active-tab h4{
  color: #c8242f;
}
.dashboard-title {
  margin-left: 48px;
  width: 148px;
  height: 39px;
  font-size: 30px;
}
.li-items {
  display: flex;
  margin-left: -30px;
  justify-content: left;
  align-items: center;
  width: 183px;
  height: 43px;
  padding-left: 20px;
  list-style-position: inside;
}
.li-items:hover {
  background-color: #fff3f4;
}
.li-items:hover .sidebar-heading {
  color: #c8242f;
}
.li-items:hover > .li-icons-active {
  display: flex;
}
.li-items:hover > .li-icons-default {
  display: none;
}
.li-icons {
  width: 19px;
  height: 18px;
  margin-right: 15px;
}
.li-icons-active {
  width: 19px;
  height: 18px;
  margin-right: 15px;
  display: none;
}
.li-icons-default {
  width: 19px;
  height: 18px;
  margin-right: 15px;
  display: flex;
}
.li-icons:hover {

  fill: #c8242f;
  display: block;
}
/* main content style */
.m-container {
  background-color: #fafafa;
  position: absolute;
  left: 222px;
  width: 95%;
  height: 1300px;
  margin-top: -5px;
}
.top-cards {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  /* margin-left: -20px; */
}

.top-card-items-first {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  width: 219px;
  height: 116px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.top-card-items {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  width: 219px;
  height: 116px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.top-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20px;
}
.top-card-icon {
  width: 33px;
}
.product-text,
product-name {
  margin-top: -15px;
  width: 94px;
}
.product-text {
  width: fit-content;
  margin-bottom: 33.87px;
  margin-top: -5px;
  font-weight: 15px;
  line-height: 20px;
  color: #3e3e3e;
}
.product-number {
  margin-top: 31.04px;
  margin-bottom: 0;
  width: 77px;
  height: 33px;
  font-weight: bold;
  font-size: 25px;
}
/* charts style */
.charts {
  margin-left: 10px;
  display: flex;
}
.chart-item-1 {
  width: 802px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
}
.chart-item-1-title {
  width: 43px;
  height: 29px;
  margin-left: 29px;
  font-size: 22px;
  line-height: 29px;
}
.chart-item-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.space-nav {
  height: 21px;
  width: 92px;
}
/* weekly,monthly,yearly heading style */
.w,
.m {
  margin-right: 20px;
  color: #adadad;
}
.y {
  margin-right: 29.42px;
  color: #c8242f;
  padding-bottom: 5px;
  border-bottom: 2px solid #c8242f;
}
.chart-graph {
  margin-left: 28px;
}
.chart-item-2 {
  margin-left: 10px;
  width: 385px;
  height: 398px;
  background-color: #ffffff;
  border-radius: 10px;
}
.chart-item-2-title {
  width: 180px;
  height: 29px;
  margin-left: 29px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 29px;
}
.pie-chart {
  margin-left: 89px;
  /* margin-bottom: 15px; */
}
.pie-des {
  display: flex;
  margin-left: -70px;
  margin-top: 10px;
}
.pie-des-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -29px;
  margin-left: -30px;
}
.pie-des-1-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -18px;
  /* margin-right: 16px; */
}
.pie-des-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 300px; */
  margin-top: -29px;
  margin-left: -50px;
}
.pie-des-name {
  font-size: 16px;
  width: 166px;
  height: 20px;
  padding-top: 2px;
}
.pie-des-name-usa {
  font-size: 16px;
  width: 200px;
  height: 20px;
  padding-top: 2px;
  margin-right: 26px;
}
.pie-des-1-inner-russia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -18px;
  margin-left: -175px;
}
.circle {
  width: 16px;
  height: 16px;
  margin-right: 9px;
}
.table-container {
  margin-left: 50px;
  width: 1195px;
  height: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow-x: auto;
}
.table-title {
  width: 82px;
  height: 29px;
  margin-left: 29px;
  font-size: 22px;
  line-height: 29px;
}
/* view all */
.va {
  width: 60px;
  height: 16px;
  margin-right: 29px;
  margin-top: 26px;
  color: #c8242f;
}
/* table style */
.invoice {
  width: 93%;
  /* height: 700px; */
  margin-left: 40px;
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 1px solid #adadad;
  padding: 12px 0;
  color: #adadad;
}
td {
  border-bottom: 1px solid #adadad;
}
tr:last-child {
  border-bottom: 0px solid white;
}
.invoice-number {
  margin-right: 100px;
  width: 51px;
  height: 20px;
  padding: 12px 109px 12px 0;
}
.invoice-company-name {
  margin-right: 100px;
  width: 142px;
  height: 20px;
  padding: 12px 109px 12px 0;
}
.invoice-company-name-pmc {
  margin-right: 100px;
  width: 218px;
  height: 20px;
  padding: 12px 109px 12px 0;
}
.invoice-email {
  margin-right: 100px;
  width: 100px;
  height: 20px;
  padding: 12px 46px 12px 0;
}
.invoice-due-date {
  margin-right: 100px;
  width: 100px;
  height: 20px;
  padding: 12px 75px 12px 0;
}
.invoice-status {
  /* margin-right: 100px; */
  width: 75px;
  height: 30px;
  padding: 10px 40px 12px 0;
}
.invoice-amount {
  width: 23px;
  height: 20px;
  padding: 12px -20px 12px 0;
}
.row-data {
  text-align: left;
  color: #3e3e3e;
  font-size: 15px;
  line-height: 20px;
  /* padding: 12px 0; */
}
.invoice-item {
  padding: 12px 0;
  /* border-bottom: 1px solid #adadad; */
}
button {
  border: 0;
  border-radius: 5px;
}
.paid {
  width: 50px;
  height: 26px;
  font-size: 15px;
  line-height: 20px;
  color: #3cdd5f;
  background-color: #ebffef;
}
.failed {
  width: 40;
  height: 20;
  font-size: 15px;
  line-height: 20px;
  color: #ff4545;
  background-color: #fff5f5;
}
.pending {
  width: 65px;
  height: 25px;
  color: #bababa;
  background-color: #f8f8f8;
}
.last-row > td {
  border-bottom-style: none;
}
/* mobile view */
@media only screen and (max-width: 500px) {
  .navbar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .menu-icon {
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    margin-left: 0px;
    margin-right: -20px;
  }
  .company-logo {
    width: 100px;
    height: 20px;
    align-items: center;
    margin-top: 5px;
  }
  .search-text {
    display: none;
  }
  .notification {
    margin-left: 50px;
    width: 20px;
  }
  .profile-icon {
    width: 30px;
    height: 30px;
  }

  .prn {
    font-size: 12px;
  }


/* main */
  .m-container {
    left: 0;
    width: 100%;
    height: 2300px;
    /* margin-bottom: 20px; */
  }
  .top-cards {
    display: flex;
    flex-direction: column;
  }
  .top-card-items {
    width: 85%;
    margin-left: 0;
    margin-bottom: 15px;
    padding-right: 10px;
  }
  .top-card-items-first {
    margin-left: 0px;
    width: 85%;
    margin-bottom: 15px;
  }
  .top-card-icon {
    margin-left: -10px;
  }
  .charts {
    width: 82%;
    height: 30%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .chart-item-1,
  .chart-item-2 {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
  }
  .chart-item-1 {
    height: 210px;
  }
  .chart-item-2 {
    height: 485px;
  }

  .chart-item-nav {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
  }
  .wmy {
    padding-left: 50px;
  }
  .graph {
    width: 230px;
    /* height: 300px; */
  }
  .pie-chart {
    margin-left: 50px;
  }
  .pie-img {
    width: 80%;
  }
  .pie-des {
    display: flex;
    flex-direction: column;
  }
  .pie-des-1 {
    margin-left: 10px;
  }
  .pie-des-1-inner{
    margin-left: -10px;
  }
  .pie-des-2 {
    margin-top: 0px;
    font-size: x-smaller;
  }

  .chart-item-nav {
    display: flex;
  }
  .table-container {
    margin-top: 20px;
    width: 80.5%;
    overflow-x: auto;
    border-spacing: 0px;
    border-collapse: collapse;
    font-size: 15px;
  }
  .invoice {
    font-size: 15px;
  }
}
/* tablet view */
@media only screen and (max-width: 876px) and (min-width: 500px) {
  .navbar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .menu-icon {
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    margin-left: 0px;
    margin-right: -20px;
  }
  .company-logo {
    width: 100px;
    height: 20px;
    align-items: center;
    /* margin-top: 5px; */
    margin-left: 25px;
  }
  .search-text {
    display: none;
  }
  .notification {
    margin-left: 50px;
    width: 20px;
  }
  .profile-icon {
    width: 30px;
    height: 30px;
  }

  .prn {
    font-size: 12px;
  }
  .m-container {
    left: 0;
    width: 100%;
    height: 2300px;
    /* margin-bottom: 20px; */
  }
  .top-cards {
    display: flex;
    flex-direction: column;
  }
  .top-card-items {
    width: 75%;
    margin-left: 0;
    margin-bottom: 15px;
    padding-right: 10px;
  }
  .top-card-items-first {
    margin-left: 0px;
    width: 77%;
    margin-bottom: 15px;
  }
  .top-card-icon {
    margin-left: -10px;
  }
  .charts {
    width: 82%;
    height: 28%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .chart-item-1,
  .chart-item-2 {
    width: 90%;
    height: 450px;
    margin-bottom: 20px;
  }
  .chart-item-1 {
    height: 210px;
  }
  .chart-item-2 {
    height: 400px;
  }
  .chart-item-nav {
    display: inline-block;
  }
  .wmy {
    padding-left: 50px;
  }
  .graph {
    width: 290px;
  }
  .pie-chart {
    margin-left: 50px;
    display: flex;
  }
  .pie-img {
    width: 60%;
  }
  .pie-des {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .pie-des-1 {
    margin-left: 10px;
  }
  .pie-des-2 {
    margin-top: 0px;
    font-size: x-smaller;
  }

  .chart-item-nav {
    display: flex;
  }
  .table-container {
    /* margin-top: -210px; */
    width: 75%;
    overflow-x: auto;
    border-spacing: 0px;
    border-collapse: collapse;
    font-size: 15px;
  }
  .invoice {
    font-size: 15px;
  }
}
@media only screen and (max-width: 876px) and (min-width: 200px) {
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.list .li-items{
  display: flex;
}
.list li{
  padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.list li:hover {
color: #f1f1f1;
}
.sidebar .closebtn {
  visibility: visible;
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
}